Zips
1st term/UD2/UD2_activity2/ud2-activity-2-advanced-sass-template-CrazuSmile
1st term/UD3/UD3-activity2/node_modules/.package-lock.json
1st term/UD3/UD3-activity2/node_modules/.bin/electron
1st term/UD3/UD3-activity2/node_modules/.bin/extract-zip
1st term/UD3/UD3-activity2/node_modules/.bin/semver
1st term/UD3/UD3-activity2/node_modules/@electron/get/LICENSE
1st term/UD3/UD3-activity2/node_modules/@electron/get/package.json
1st term/UD3/UD3-activity2/node_modules/@electron/get/README.md
1st term/UD3/UD3-activity2/node_modules/@electron/get/dist/cjs/artifact-utils.d.ts
1st term/UD3/UD3-activity2/node_modules/@electron/get/dist/cjs/artifact-utils.js
1st term/UD3/UD3-activity2/node_modules/@electron/get/dist/cjs/artifact-utils.js.map
1st term/UD3/UD3-activity2/node_modules/@electron/get/dist/cjs/Cache.d.ts
1st term/UD3/UD3-activity2/node_modules/@electron/get/dist/cjs/Cache.js
1st term/UD3/UD3-activity2/node_modules/@electron/get/dist/cjs/Cache.js.map
1st term/UD3/UD3-activity2/node_modules/@electron/get/dist/cjs/downloader-resolver.d.ts
1st term/UD3/UD3-activity2/node_modules/@electron/get/dist/cjs/downloader-resolver.js
1st term/UD3/UD3-activity2/node_modules/@electron/get/dist/cjs/downloader-resolver.js.map
1st term/UD3/UD3-activity2/node_modules/@electron/get/dist/cjs/Downloader.d.ts
1st term/UD3/UD3-activity2/node_modules/@electron/get/dist/cjs/Downloader.js
1st term/UD3/UD3-activity2/node_modules/@electron/get/dist/cjs/Downloader.js.map
1st term/UD3/UD3-activity2/node_modules/@electron/get/dist/cjs/GotDownloader.d.ts
1st term/UD3/UD3-activity2/node_modules/@electron/get/dist/cjs/GotDownloader.js
1st term/UD3/UD3-activity2/node_modules/@electron/get/dist/cjs/GotDownloader.js.map
1st term/UD3/UD3-activity2/node_modules/@electron/get/dist/cjs/index.d.ts
1st term/UD3/UD3-activity2/node_modules/@electron/get/dist/cjs/index.js
1st term/UD3/UD3-activity2/node_modules/@electron/get/dist/cjs/index.js.map
1st term/UD3/UD3-activity2/node_modules/@electron/get/dist/cjs/proxy.d.ts
1st term/UD3/UD3-activity2/node_modules/@electron/get/dist/cjs/proxy.js
1st term/UD3/UD3-activity2/node_modules/@electron/get/dist/cjs/proxy.js.map
1st term/UD3/UD3-activity2/node_modules/@electron/get/dist/cjs/types.d.ts
1st term/UD3/UD3-activity2/node_modules/@electron/get/dist/cjs/types.js
1st term/UD3/UD3-activity2/node_modules/@electron/get/dist/cjs/types.js.map
1st term/UD3/UD3-activity2/node_modules/@electron/get/dist/cjs/utils.d.ts
1st term/UD3/UD3-activity2/node_modules/@electron/get/dist/cjs/utils.js
1st term/UD3/UD3-activity2/node_modules/@electron/get/dist/cjs/utils.js.map
1st term/UD3/UD3-activity2/node_modules/@electron/get/dist/esm/artifact-utils.d.ts
1st term/UD3/UD3-activity2/node_modules/@electron/get/dist/esm/artifact-utils.js
1st term/UD3/UD3-activity2/node_modules/@electron/get/dist/esm/artifact-utils.js.map
1st term/UD3/UD3-activity2/node_modules/@electron/get/dist/esm/Cache.d.ts
1st term/UD3/UD3-activity2/node_modules/@electron/get/dist/esm/Cache.js
1st term/UD3/UD3-activity2/node_modules/@electron/get/dist/esm/Cache.js.map
1st term/UD3/UD3-activity2/node_modules/@electron/get/dist/esm/downloader-resolver.d.ts
1st term/UD3/UD3-activity2/node_modules/@electron/get/dist/esm/downloader-resolver.js
1st term/UD3/UD3-activity2/node_modules/@electron/get/dist/esm/downloader-resolver.js.map
1st term/UD3/UD3-activity2/node_modules/@electron/get/dist/esm/Downloader.d.ts
1st term/UD3/UD3-activity2/node_modules/@electron/get/dist/esm/Downloader.js
1st term/UD3/UD3-activity2/node_modules/@electron/get/dist/esm/Downloader.js.map
1st term/UD3/UD3-activity2/node_modules/@electron/get/dist/esm/GotDownloader.d.ts
1st term/UD3/UD3-activity2/node_modules/@electron/get/dist/esm/GotDownloader.js
1st term/UD3/UD3-activity2/node_modules/@electron/get/dist/esm/GotDownloader.js.map
1st term/UD3/UD3-activity2/node_modules/@electron/get/dist/esm/index.d.ts
1st term/UD3/UD3-activity2/node_modules/@electron/get/dist/esm/index.js
1st term/UD3/UD3-activity2/node_modules/@electron/get/dist/esm/index.js.map
1st term/UD3/UD3-activity2/node_modules/@electron/get/dist/esm/proxy.d.ts
1st term/UD3/UD3-activity2/node_modules/@electron/get/dist/esm/proxy.js
1st term/UD3/UD3-activity2/node_modules/@electron/get/dist/esm/proxy.js.map
1st term/UD3/UD3-activity2/node_modules/@electron/get/dist/esm/types.d.ts
1st term/UD3/UD3-activity2/node_modules/@electron/get/dist/esm/types.js
1st term/UD3/UD3-activity2/node_modules/@electron/get/dist/esm/types.js.map
1st term/UD3/UD3-activity2/node_modules/@electron/get/dist/esm/utils.d.ts
1st term/UD3/UD3-activity2/node_modules/@electron/get/dist/esm/utils.js
1st term/UD3/UD3-activity2/node_modules/@electron/get/dist/esm/utils.js.map
1st term/UD3/UD3-activity2/node_modules/@sindresorhus/is/license
1st term/UD3/UD3-activity2/node_modules/@sindresorhus/is/package.json
1st term/UD3/UD3-activity2/node_modules/@sindresorhus/is/readme.md
1st term/UD3/UD3-activity2/node_modules/@sindresorhus/is/dist/index.d.ts
1st term/UD3/UD3-activity2/node_modules/@sindresorhus/is/dist/index.js
1st term/UD3/UD3-activity2/node_modules/@sindresorhus/is/dist/types.d.ts
1st term/UD3/UD3-activity2/node_modules/@sindresorhus/is/dist/types.js
1st term/UD3/UD3-activity2/node_modules/@szmarczak/http-timer/LICENSE
1st term/UD3/UD3-activity2/node_modules/@szmarczak/http-timer/package.json
1st term/UD3/UD3-activity2/node_modules/@szmarczak/http-timer/README.md
1st term/UD3/UD3-activity2/node_modules/@szmarczak/http-timer/dist/source/index.d.ts
1st term/UD3/UD3-activity2/node_modules/@szmarczak/http-timer/dist/source/index.js
1st term/UD3/UD3-activity2/node_modules/@types/cacheable-request/index.d.ts
1st term/UD3/UD3-activity2/node_modules/@types/cacheable-request/LICENSE
1st term/UD3/UD3-activity2/node_modules/@types/cacheable-request/package.json
1st term/UD3/UD3-activity2/node_modules/@types/cacheable-request/README.md
1st term/UD3/UD3-activity2/node_modules/@types/http-cache-semantics/index.d.ts
1st term/UD3/UD3-activity2/node_modules/@types/http-cache-semantics/LICENSE
1st term/UD3/UD3-activity2/node_modules/@types/http-cache-semantics/package.json
1st term/UD3/UD3-activity2/node_modules/@types/http-cache-semantics/README.md
1st term/UD3/UD3-activity2/node_modules/@types/keyv/index.d.ts
1st term/UD3/UD3-activity2/node_modules/@types/keyv/LICENSE
1st term/UD3/UD3-activity2/node_modules/@types/keyv/package.json
1st term/UD3/UD3-activity2/node_modules/@types/keyv/README.md
1st term/UD3/UD3-activity2/node_modules/@types/node/assert.d.ts
1st term/UD3/UD3-activity2/node_modules/@types/node/async_hooks.d.ts
1st term/UD3/UD3-activity2/node_modules/@types/node/buffer.buffer.d.ts
1st term/UD3/UD3-activity2/node_modules/@types/node/buffer.d.ts
1st term/UD3/UD3-activity2/node_modules/@types/node/child_process.d.ts
1st term/UD3/UD3-activity2/node_modules/@types/node/cluster.d.ts
1st term/UD3/UD3-activity2/node_modules/@types/node/console.d.ts
1st term/UD3/UD3-activity2/node_modules/@types/node/constants.d.ts
1st term/UD3/UD3-activity2/node_modules/@types/node/crypto.d.ts
1st term/UD3/UD3-activity2/node_modules/@types/node/dgram.d.ts
1st term/UD3/UD3-activity2/node_modules/@types/node/diagnostics_channel.d.ts
1st term/UD3/UD3-activity2/node_modules/@types/node/dns.d.ts
1st term/UD3/UD3-activity2/node_modules/@types/node/dom-events.d.ts
1st term/UD3/UD3-activity2/node_modules/@types/node/domain.d.ts
1st term/UD3/UD3-activity2/node_modules/@types/node/events.d.ts
1st term/UD3/UD3-activity2/node_modules/@types/node/fs.d.ts
1st term/UD3/UD3-activity2/node_modules/@types/node/globals.d.ts
1st term/UD3/UD3-activity2/node_modules/@types/node/globals.typedarray.d.ts
1st term/UD3/UD3-activity2/node_modules/@types/node/http.d.ts
1st term/UD3/UD3-activity2/node_modules/@types/node/http2.d.ts
1st term/UD3/UD3-activity2/node_modules/@types/node/https.d.ts
1st term/UD3/UD3-activity2/node_modules/@types/node/index.d.ts
1st term/UD3/UD3-activity2/node_modules/@types/node/inspector.d.ts
1st term/UD3/UD3-activity2/node_modules/@types/node/LICENSE
1st term/UD3/UD3-activity2/node_modules/@types/node/module.d.ts
1st term/UD3/UD3-activity2/node_modules/@types/node/net.d.ts
1st term/UD3/UD3-activity2/node_modules/@types/node/os.d.ts
1st term/UD3/UD3-activity2/node_modules/@types/node/package.json
1st term/UD3/UD3-activity2/node_modules/@types/node/path.d.ts
1st term/UD3/UD3-activity2/node_modules/@types/node/perf_hooks.d.ts
1st term/UD3/UD3-activity2/node_modules/@types/node/process.d.ts
1st term/UD3/UD3-activity2/node_modules/@types/node/punycode.d.ts
1st term/UD3/UD3-activity2/node_modules/@types/node/querystring.d.ts
1st term/UD3/UD3-activity2/node_modules/@types/node/readline.d.ts
1st term/UD3/UD3-activity2/node_modules/@types/node/README.md
1st term/UD3/UD3-activity2/node_modules/@types/node/repl.d.ts
1st term/UD3/UD3-activity2/node_modules/@types/node/sea.d.ts
1st term/UD3/UD3-activity2/node_modules/@types/node/stream.d.ts
1st term/UD3/UD3-activity2/node_modules/@types/node/string_decoder.d.ts
1st term/UD3/UD3-activity2/node_modules/@types/node/test.d.ts
1st term/UD3/UD3-activity2/node_modules/@types/node/timers.d.ts
1st term/UD3/UD3-activity2/node_modules/@types/node/tls.d.ts
1st term/UD3/UD3-activity2/node_modules/@types/node/trace_events.d.ts
1st term/UD3/UD3-activity2/node_modules/@types/node/tty.d.ts
1st term/UD3/UD3-activity2/node_modules/@types/node/url.d.ts
1st term/UD3/UD3-activity2/node_modules/@types/node/util.d.ts
1st term/UD3/UD3-activity2/node_modules/@types/node/v8.d.ts
1st term/UD3/UD3-activity2/node_modules/@types/node/vm.d.ts
1st term/UD3/UD3-activity2/node_modules/@types/node/wasi.d.ts
1st term/UD3/UD3-activity2/node_modules/@types/node/worker_threads.d.ts
1st term/UD3/UD3-activity2/node_modules/@types/node/zlib.d.ts
1st term/UD3/UD3-activity2/node_modules/@types/node/assert/strict.d.ts
1st term/UD3/UD3-activity2/node_modules/@types/node/compatibility/disposable.d.ts
1st term/UD3/UD3-activity2/node_modules/@types/node/compatibility/index.d.ts
1st term/UD3/UD3-activity2/node_modules/@types/node/compatibility/indexable.d.ts
1st term/UD3/UD3-activity2/node_modules/@types/node/compatibility/iterators.d.ts
1st term/UD3/UD3-activity2/node_modules/@types/node/dns/promises.d.ts
1st term/UD3/UD3-activity2/node_modules/@types/node/fs/promises.d.ts
1st term/UD3/UD3-activity2/node_modules/@types/node/readline/promises.d.ts
1st term/UD3/UD3-activity2/node_modules/@types/node/stream/consumers.d.ts
1st term/UD3/UD3-activity2/node_modules/@types/node/stream/promises.d.ts
1st term/UD3/UD3-activity2/node_modules/@types/node/stream/web.d.ts
1st term/UD3/UD3-activity2/node_modules/@types/node/timers/promises.d.ts
1st term/UD3/UD3-activity2/node_modules/@types/node/ts5.6/buffer.buffer.d.ts
1st term/UD3/UD3-activity2/node_modules/@types/node/ts5.6/globals.typedarray.d.ts
1st term/UD3/UD3-activity2/node_modules/@types/node/ts5.6/index.d.ts
1st term/UD3/UD3-activity2/node_modules/@types/responselike/index.d.ts
1st term/UD3/UD3-activity2/node_modules/@types/responselike/LICENSE
1st term/UD3/UD3-activity2/node_modules/@types/responselike/package.json
1st term/UD3/UD3-activity2/node_modules/@types/responselike/README.md
1st term/UD3/UD3-activity2/node_modules/@types/yauzl/index.d.ts
1st term/UD3/UD3-activity2/node_modules/@types/yauzl/LICENSE
1st term/UD3/UD3-activity2/node_modules/@types/yauzl/package.json
1st term/UD3/UD3-activity2/node_modules/@types/yauzl/README.md
1st term/UD3/UD3-activity2/node_modules/ansi-styles/index.d.ts
1st term/UD3/UD3-activity2/node_modules/ansi-styles/index.js
1st term/UD3/UD3-activity2/node_modules/ansi-styles/license
1st term/UD3/UD3-activity2/node_modules/ansi-styles/package.json
1st term/UD3/UD3-activity2/node_modules/ansi-styles/readme.md
1st term/UD3/UD3-activity2/node_modules/anymatch/index.d.ts
1st term/UD3/UD3-activity2/node_modules/anymatch/index.js
1st term/UD3/UD3-activity2/node_modules/anymatch/LICENSE
1st term/UD3/UD3-activity2/node_modules/anymatch/package.json
1st term/UD3/UD3-activity2/node_modules/anymatch/README.md
1st term/UD3/UD3-activity2/node_modules/binary-extensions/binary-extensions.json
1st term/UD3/UD3-activity2/node_modules/binary-extensions/binary-extensions.json.d.ts
1st term/UD3/UD3-activity2/node_modules/binary-extensions/index.d.ts
1st term/UD3/UD3-activity2/node_modules/binary-extensions/index.js
1st term/UD3/UD3-activity2/node_modules/binary-extensions/license
1st term/UD3/UD3-activity2/node_modules/binary-extensions/package.json
1st term/UD3/UD3-activity2/node_modules/binary-extensions/readme.md
1st term/UD3/UD3-activity2/node_modules/boolean/.eslintrc.json
1st term/UD3/UD3-activity2/node_modules/boolean/.npmpackagejsonlintrc.json
1st term/UD3/UD3-activity2/node_modules/boolean/.releaserc.json
1st term/UD3/UD3-activity2/node_modules/boolean/CHANGELOG.md
1st term/UD3/UD3-activity2/node_modules/boolean/LICENSE.txt
1st term/UD3/UD3-activity2/node_modules/boolean/licenseCheck.json
1st term/UD3/UD3-activity2/node_modules/boolean/package.json
1st term/UD3/UD3-activity2/node_modules/boolean/README.md
1st term/UD3/UD3-activity2/node_modules/boolean/tsconfig.json
1st term/UD3/UD3-activity2/node_modules/boolean/build/lib/boolean.d.ts
1st term/UD3/UD3-activity2/node_modules/boolean/build/lib/boolean.js
1st term/UD3/UD3-activity2/node_modules/boolean/build/lib/index.d.ts
1st term/UD3/UD3-activity2/node_modules/boolean/build/lib/index.js
1st term/UD3/UD3-activity2/node_modules/boolean/build/lib/isBooleanable.d.ts
1st term/UD3/UD3-activity2/node_modules/boolean/build/lib/isBooleanable.js
1st term/UD3/UD3-activity2/node_modules/boolean/lib/boolean.ts
1st term/UD3/UD3-activity2/node_modules/boolean/lib/index.ts
1st term/UD3/UD3-activity2/node_modules/boolean/lib/isBooleanable.ts
1st term/UD3/UD3-activity2/node_modules/braces/index.js
1st term/UD3/UD3-activity2/node_modules/braces/LICENSE
1st term/UD3/UD3-activity2/node_modules/braces/package.json
1st term/UD3/UD3-activity2/node_modules/braces/README.md
1st term/UD3/UD3-activity2/node_modules/braces/lib/compile.js
1st term/UD3/UD3-activity2/node_modules/braces/lib/constants.js
1st term/UD3/UD3-activity2/node_modules/braces/lib/expand.js
1st term/UD3/UD3-activity2/node_modules/braces/lib/parse.js
1st term/UD3/UD3-activity2/node_modules/braces/lib/stringify.js
1st term/UD3/UD3-activity2/node_modules/braces/lib/utils.js
1st term/UD3/UD3-activity2/node_modules/buffer-crc32/index.js
1st term/UD3/UD3-activity2/node_modules/buffer-crc32/LICENSE
1st term/UD3/UD3-activity2/node_modules/buffer-crc32/package.json
1st term/UD3/UD3-activity2/node_modules/buffer-crc32/README.md
1st term/UD3/UD3-activity2/node_modules/cacheable-lookup/index.d.ts
1st term/UD3/UD3-activity2/node_modules/cacheable-lookup/LICENSE
1st term/UD3/UD3-activity2/node_modules/cacheable-lookup/package.json
1st term/UD3/UD3-activity2/node_modules/cacheable-lookup/README.md
1st term/UD3/UD3-activity2/node_modules/cacheable-lookup/source/index.js
1st term/UD3/UD3-activity2/node_modules/cacheable-request/LICENSE
1st term/UD3/UD3-activity2/node_modules/cacheable-request/package.json
1st term/UD3/UD3-activity2/node_modules/cacheable-request/README.md
1st term/UD3/UD3-activity2/node_modules/cacheable-request/src/index.js
1st term/UD3/UD3-activity2/node_modules/chalk/index.d.ts
1st term/UD3/UD3-activity2/node_modules/chalk/license
1st term/UD3/UD3-activity2/node_modules/chalk/package.json
1st term/UD3/UD3-activity2/node_modules/chalk/readme.md
1st term/UD3/UD3-activity2/node_modules/chalk/source/index.js
1st term/UD3/UD3-activity2/node_modules/chalk/source/templates.js
1st term/UD3/UD3-activity2/node_modules/chalk/source/util.js
1st term/UD3/UD3-activity2/node_modules/chokidar/index.js
1st term/UD3/UD3-activity2/node_modules/chokidar/LICENSE
1st term/UD3/UD3-activity2/node_modules/chokidar/package.json
1st term/UD3/UD3-activity2/node_modules/chokidar/README.md
1st term/UD3/UD3-activity2/node_modules/chokidar/lib/constants.js
1st term/UD3/UD3-activity2/node_modules/chokidar/lib/fsevents-handler.js
1st term/UD3/UD3-activity2/node_modules/chokidar/lib/nodefs-handler.js
1st term/UD3/UD3-activity2/node_modules/chokidar/types/index.d.ts
1st term/UD3/UD3-activity2/node_modules/clone-response/LICENSE
1st term/UD3/UD3-activity2/node_modules/clone-response/package.json
1st term/UD3/UD3-activity2/node_modules/clone-response/README.md
1st term/UD3/UD3-activity2/node_modules/clone-response/src/index.js
1st term/UD3/UD3-activity2/node_modules/color-convert/CHANGELOG.md
1st term/UD3/UD3-activity2/node_modules/color-convert/conversions.js
1st term/UD3/UD3-activity2/node_modules/color-convert/index.js
1st term/UD3/UD3-activity2/node_modules/color-convert/LICENSE
1st term/UD3/UD3-activity2/node_modules/color-convert/package.json
1st term/UD3/UD3-activity2/node_modules/color-convert/README.md
1st term/UD3/UD3-activity2/node_modules/color-convert/route.js
1st term/UD3/UD3-activity2/node_modules/color-name/index.js
1st term/UD3/UD3-activity2/node_modules/color-name/LICENSE
1st term/UD3/UD3-activity2/node_modules/color-name/package.json
1st term/UD3/UD3-activity2/node_modules/color-name/README.md
1st term/UD3/UD3-activity2/node_modules/date-time/index.d.ts
1st term/UD3/UD3-activity2/node_modules/date-time/index.js
1st term/UD3/UD3-activity2/node_modules/date-time/license
1st term/UD3/UD3-activity2/node_modules/date-time/package.json
1st term/UD3/UD3-activity2/node_modules/date-time/readme.md
1st term/UD3/UD3-activity2/node_modules/debug/LICENSE
1st term/UD3/UD3-activity2/node_modules/debug/package.json
1st term/UD3/UD3-activity2/node_modules/debug/README.md
1st term/UD3/UD3-activity2/node_modules/debug/src/browser.js
1st term/UD3/UD3-activity2/node_modules/debug/src/common.js
1st term/UD3/UD3-activity2/node_modules/debug/src/index.js
1st term/UD3/UD3-activity2/node_modules/debug/src/node.js
1st term/UD3/UD3-activity2/node_modules/decompress-response/index.d.ts
1st term/UD3/UD3-activity2/node_modules/decompress-response/index.js
1st term/UD3/UD3-activity2/node_modules/decompress-response/license
1st term/UD3/UD3-activity2/node_modules/decompress-response/package.json
1st term/UD3/UD3-activity2/node_modules/decompress-response/readme.md
1st term/UD3/UD3-activity2/node_modules/decompress-response/node_modules/mimic-response/index.d.ts
1st term/UD3/UD3-activity2/node_modules/decompress-response/node_modules/mimic-response/index.js
1st term/UD3/UD3-activity2/node_modules/decompress-response/node_modules/mimic-response/license
1st term/UD3/UD3-activity2/node_modules/decompress-response/node_modules/mimic-response/package.json
1st term/UD3/UD3-activity2/node_modules/decompress-response/node_modules/mimic-response/readme.md
1st term/UD3/UD3-activity2/node_modules/defer-to-connect/LICENSE
1st term/UD3/UD3-activity2/node_modules/defer-to-connect/package.json
1st term/UD3/UD3-activity2/node_modules/defer-to-connect/README.md
1st term/UD3/UD3-activity2/node_modules/defer-to-connect/dist/source/index.d.ts
1st term/UD3/UD3-activity2/node_modules/defer-to-connect/dist/source/index.js
1st term/UD3/UD3-activity2/node_modules/define-data-property/.eslintrc
1st term/UD3/UD3-activity2/node_modules/define-data-property/.nycrc
1st term/UD3/UD3-activity2/node_modules/define-data-property/CHANGELOG.md
1st term/UD3/UD3-activity2/node_modules/define-data-property/index.d.ts
1st term/UD3/UD3-activity2/node_modules/define-data-property/index.js
1st term/UD3/UD3-activity2/node_modules/define-data-property/LICENSE
1st term/UD3/UD3-activity2/node_modules/define-data-property/package.json
1st term/UD3/UD3-activity2/node_modules/define-data-property/README.md
1st term/UD3/UD3-activity2/node_modules/define-data-property/tsconfig.json
1st term/UD3/UD3-activity2/node_modules/define-data-property/.github/FUNDING.yml
1st term/UD3/UD3-activity2/node_modules/define-data-property/test/index.js
1st term/UD3/UD3-activity2/node_modules/define-properties/.editorconfig
1st term/UD3/UD3-activity2/node_modules/define-properties/.eslintrc
1st term/UD3/UD3-activity2/node_modules/define-properties/.nycrc
1st term/UD3/UD3-activity2/node_modules/define-properties/CHANGELOG.md
1st term/UD3/UD3-activity2/node_modules/define-properties/index.js
1st term/UD3/UD3-activity2/node_modules/define-properties/LICENSE
1st term/UD3/UD3-activity2/node_modules/define-properties/package.json
1st term/UD3/UD3-activity2/node_modules/define-properties/README.md
1st term/UD3/UD3-activity2/node_modules/define-properties/.github/FUNDING.yml
1st term/UD3/UD3-activity2/node_modules/detect-node/browser.js
1st term/UD3/UD3-activity2/node_modules/detect-node/index.esm.js
1st term/UD3/UD3-activity2/node_modules/detect-node/index.js
1st term/UD3/UD3-activity2/node_modules/detect-node/LICENSE
1st term/UD3/UD3-activity2/node_modules/detect-node/package.json
1st term/UD3/UD3-activity2/node_modules/detect-node/Readme.md
1st term/UD3/UD3-activity2/node_modules/electron/checksums.json
1st term/UD3/UD3-activity2/node_modules/electron/cli.js
1st term/UD3/UD3-activity2/node_modules/electron/LICENSE
1st term/UD3/UD3-activity2/node_modules/electron/README.md
1st term/UD3/UD3-activity2/node_modules/electron/dist/chrome_100_percent.pak
1st term/UD3/UD3-activity2/node_modules/electron/dist/chrome_200_percent.pak
1st term/UD3/UD3-activity2/node_modules/electron/dist/chrome_crashpad_handler
1st term/UD3/UD3-activity2/node_modules/electron/dist/chrome-sandbox
1st term/UD3/UD3-activity2/node_modules/electron/dist/electron
1st term/UD3/UD3-activity2/node_modules/electron/dist/icudtl.dat
1st term/UD3/UD3-activity2/node_modules/electron/dist/libEGL.so
1st term/UD3/UD3-activity2/node_modules/electron/dist/libffmpeg.so
1st term/UD3/UD3-activity2/node_modules/electron/dist/libGLESv2.so
1st term/UD3/UD3-activity2/node_modules/electron/dist/libvk_swiftshader.so
1st term/UD3/UD3-activity2/node_modules/electron/dist/libvulkan.so.1
1st term/UD3/UD3-activity2/node_modules/electron/dist/LICENSE
1st term/UD3/UD3-activity2/node_modules/electron/dist/LICENSES.chromium.html
1st term/UD3/UD3-activity2/node_modules/electron/dist/locales/af.pak
1st term/UD3/UD3-activity2/node_modules/electron/dist/locales/am.pak
1st term/UD3/UD3-activity2/node_modules/electron/dist/locales/ar.pak
1st term/UD3/UD3-activity2/node_modules/electron/dist/locales/bg.pak
1st term/UD3/UD3-activity2/node_modules/electron/dist/locales/bn.pak
1st term/UD3/UD3-activity2/node_modules/electron/dist/locales/ca.pak
1st term/UD3/UD3-activity2/node_modules/electron/dist/locales/cs.pak
1st term/UD3/UD3-activity2/node_modules/electron/dist/locales/da.pak
1st term/UD3/UD3-activity2/node_modules/electron/dist/locales/de.pak
1st term/UD3/UD3-activity2/node_modules/electron/dist/locales/el.pak
1st term/UD3/UD3-activity2/node_modules/electron/dist/locales/en-GB.pak
1st term/UD3/UD3-activity2/node_modules/electron/dist/locales/en-US.pak
1st term/UD3/UD3-activity2/node_modules/electron/dist/locales/es-419.pak
1st term/UD3/UD3-activity2/node_modules/electron/dist/locales/es.pak
1st term/UD3/UD3-activity2/node_modules/electron/dist/locales/et.pak
1st term/UD3/UD3-activity2/node_modules/electron/dist/locales/fa.pak
1st term/UD3/UD3-activity2/node_modules/electron/dist/locales/fi.pak
1st term/UD3/UD3-activity2/node_modules/electron/dist/locales/fil.pak
1st term/UD3/UD3-activity2/node_modules/electron/dist/locales/fr.pak
1st term/UD3/UD3-activity2/node_modules/electron/dist/locales/gu.pak
1st term/UD3/UD3-activity2/node_modules/electron/dist/locales/he.pak
1st term/UD3/UD3-activity2/node_modules/electron/dist/locales/hi.pak
1st term/UD3/UD3-activity2/node_modules/electron/dist/locales/hr.pak
1st term/UD3/UD3-activity2/node_modules/electron/dist/locales/hu.pak
1st term/UD3/UD3-activity2/node_modules/electron/dist/locales/id.pak
1st term/UD3/UD3-activity2/node_modules/electron/dist/locales/it.pak
1st term/UD3/UD3-activity2/node_modules/electron/dist/locales/ja.pak
1st term/UD3/UD3-activity2/node_modules/electron/dist/locales/kn.pak
1st term/UD3/UD3-activity2/node_modules/electron/dist/locales/ko.pak
1st term/UD3/UD3-activity2/node_modules/electron/dist/locales/lt.pak
1st term/UD3/UD3-activity2/node_modules/electron/dist/locales/lv.pak
1st term/UD3/UD3-activity2/node_modules/electron/dist/locales/ml.pak
1st term/UD3/UD3-activity2/node_modules/electron/dist/locales/mr.pak
1st term/UD3/UD3-activity2/node_modules/electron/dist/locales/ms.pak
1st term/UD3/UD3-activity2/node_modules/electron/dist/locales/nb.pak
1st term/UD3/UD3-activity2/node_modules/electron/dist/locales/nl.pak
1st term/UD3/UD3-activity2/node_modules/electron/dist/locales/pl.pak
1st term/UD3/UD3-activity2/node_modules/electron/dist/locales/pt-BR.pak
1st term/UD3/UD3-activity2/node_modules/electron/dist/locales/pt-PT.pak
1st term/UD3/UD3-activity2/node_modules/electron/dist/locales/ro.pak
1st term/UD3/UD3-activity2/node_modules/electron/dist/locales/ru.pak
1st term/UD3/UD3-activity2/node_modules/electron/dist/locales/sk.pak
1st term/UD3/UD3-activity2/node_modules/electron/dist/locales/sl.pak
1st term/UD3/UD3-activity2/node_modules/electron/dist/locales/sr.pak
1st term/UD3/UD3-activity2/node_modules/electron/dist/locales/sv.pak
1st term/UD3/UD3-activity2/node_modules/electron/dist/locales/sw.pak
1st term/UD3/UD3-activity2/node_modules/electron/dist/locales/ta.pak
1st term/UD3/UD3-activity2/node_modules/electron/dist/locales/te.pak
1st term/UD3/UD3-activity2/node_modules/electron/dist/locales/th.pak
1st term/UD3/UD3-activity2/node_modules/electron/dist/locales/tr.pak
1st term/UD3/UD3-activity2/node_modules/electron/dist/locales/uk.pak
1st term/UD3/UD3-activity2/node_modules/electron/dist/locales/ur.pak
1st term/UD3/UD3-activity2/node_modules/electron/dist/locales/vi.pak
1st term/UD3/UD3-activity2/node_modules/electron/dist/locales/zh-CN.pak
1st term/UD3/UD3-activity2/node_modules/electron/dist/locales/zh-TW.pak
